<div class="row">
    <div class="col-sm-12">
        <div class="main-heading clearfix">
            <h3 class="page-heading">Ledger Statement</h3>
        </div>
    </div>
    <div>
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    </div>
</div>
    
        <div class="row" >
            <div class="col-md-12 bxinptflt">

                <form action="your-action" (submit)="onApplyingFilter(ledgerFilter)">
                    <dx-form id="form" [(formData)]="ledgerFilter" [colCount]="2" [readOnly]="false" [showColonAfterLabel]="true" [showValidationSummary]="true"
                        validationGroup="customerData">

                        <dxi-item dataField="CurrencyId" editorType="dxSelectBox" [editorOptions]="{ dataSource: currencyDropdown, value: '1', displayExpr: 'CurrencyCode', valueExpr: 'CurrencyId', showClearButton:'true'  }"></dxi-item>
                        <dxi-item dataField="OfficeCode" editorType="dxSelectBox" [editorOptions]="{ dataSource: officeDropdown, value: 'null', displayExpr: 'OfficeName', valueExpr: 'OfficeId', showClearButton:'true'  }"></dxi-item>
                        <dxi-item dataField="RecordType" editorType="dxSelectBox" [editorOptions]="{ dataSource: recordTypeDropdown, value: '1', displayExpr: 'Name', valueExpr: 'Id', showClearButton:'true'  }"></dxi-item>
                        <dxi-item dataField="AccountId" editorType="dxSelectBox" [editorOptions]="{ dataSource: accountDropdown, value: 'null', displayExpr: 'AccountName', valueExpr: 'AccountCode', showClearButton:'true'  }"></dxi-item>
                        <dxi-item dataField="FromDate" editorType="dxDateBox" [editorOptions]="{ value: FromDate, width: '100%',  showClearButton: 'true' }"></dxi-item>
                        <dxi-item dataField="ToDate" editorType="dxDateBox" [editorOptions]="{ value: currentDateFinal, width: '100%',  showClearButton: 'true' }"></dxi-item>
                    </dx-form>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8 text-center">
                            <dx-button text="Show" type="success" validationGroup="customerData" [useSubmitBehavior]="true"></dx-button>
                        </div>
                    </div>
                    <br>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <dx-pivot-grid id="sales" [allowSortingBySummary]="true" [allowSorting]="true" [allowFiltering]="true" [showBorders]="true"
                    [showColumnTotals]="false" [showColumnGrandTotals]="false" [dataSource]="pivotGridDataSource">
                    <dxo-field-chooser [enabled]="false"></dxo-field-chooser>
                    <dxo-field-panel [showDataFields]="true" [visible]="true"></dxo-field-panel>
                </dx-pivot-grid>
                <br>
            </div>
        </div>


    <div class="row text-center blnsmriblk">

        <div class="col-md-12">
             <div class="display-table">
                <div class="display-row">
                    <div class="display-cell th-data"> 
                        Opening Account 
                    </div>
                    <div class="display-cell th-data"> 
                        Opening Balance 
                    </div>
                    <div class="display-cell th-data"> 
                        Closing Account 
                    </div>
                    <div class="display-cell th-data"> 
                        Closing Balance 
                    </div>        
                </div>  
                <div class="display-row">
                        <div class="display-cell"> 
                                {{OpenningBalanceType}}
                        </div>
                        <div class="display-cell"> 
                                {{OpenningBalance}}
                        </div>
                        <div class="display-cell"> 
                                {{ClosingBalanceType}}
                        </div>
                        <div class="display-cell"> 
                                {{ClosingBalance}}
                        </div>        
                    </div>      
             </div>   


            <!-- <dx-box direction="row">
                <div class="text-center spcblkbtm">    

                        <dxi-item class="rect" [ratio]="1">
                            <span class="panelAccount">  </span>  
                        </dxi-item>
                    
                        <dxi-item class="rect" [ratio]="2">
                            <span class="panelAccount"> </span> 
                        </dxi-item>
             </div>
            </dx-box>
            <dx-box direction="row">
                <div class="row  text-center">                  
                        <dxi-item class="rect" [ratio]="1">
                                <span class="panelAccount"> </span> 
                        </dxi-item>                  
                        <dxi-item class="rect" [ratio]="2">
                                <span class="panelAccount"> </span>  
                        </dxi-item>
                   
                </div>


            </dx-box> -->
        </div>
    </div>
