<div class="row">
    <div class="col-sm-12">
        <div class="main-heading clearfix">
            <h3 class="page-heading">Advance Deduction</h3>
        </div>
    </div>
    <div class="col-sm-12">

        <!-- Journal Filters -->
        <div>
            <dx-data-grid id="gridContainer" [dataSource]="dataSource" [columnHidingEnabled]="true" [masterDetail]="{ enabled: true, template: 'detail' }">
                <!-- <dxo-export [enabled]="true" fileName="Orders"></dxo-export> -->
                <dxo-editing [allowAdding]="false" [allowUpdating]="false" mode="batch"></dxo-editing>
                <dxo-grouping [contextMenuEnabled]="true" expandMode="rowClick"></dxo-grouping>
                <dxo-group-panel [visible]="false" emptyPanelText="Use the context menu of header columns to group data"></dxo-group-panel>
                <dxo-header-filter [visible]="true">
                </dxo-header-filter>
                <dxo-selection mode="multiple">
                </dxo-selection>
                <dxo-filter-row [visible]="showFilterRow">
                </dxo-filter-row>
                <dxi-column dataField="Currency"></dxi-column>
                <dxi-column dataField="Office"></dxi-column>
                <dxi-column dataField="Month" dataType="date" pickerType="rollers"></dxi-column>
                <dxo-paging [pageSize]="10"></dxo-paging>
                <!-- <dxo-pager
                  [allowedPageSizes]="[5, 8, 15, 30]"
                  [showInfo]="true"
                  [showNavigationButtons]="true"
                  [showPageSizeSelector]="true"
                  [visible]="true">
              </dxo-pager>  -->
                <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                <div *dxTemplate="let adnvanceDeduction of 'detail'">
                    <div class="internal-grid-container">
                        <!-- <div>{{employee.data.FirstName + " " + employee.data.LastName + "'s Tasks:"}}</div> -->

                        <dx-data-grid class="internal-grid" 
                                    [dataSource]="adnvanceDeduction.data.AdvanceDeductionSalarys"
                                    [showBorders]="true"
                                    [columnAutoWidth]="true"
                                    (onEditingStart)="logEvent('EditingStart')"
                                    (onInitNewRow)="logEvent('InitNewRow')"
                                    (onRowInserting)="logEvent('RowInserting')"
                                    (onRowInserted)="logEvent('RowInserted')"
                                    (onRowUpdating)="logEvent('RowUpdating')"
                                    (onRowUpdated)="logEvent('RowUpdated')"
                                    (onRowRemoving)="logEvent('RowRemoving')"
                                    (onRowRemoved)="logEvent('RowRemoved')">
                            <dxo-selection mode="multiple">
                            </dxo-selection>
                            <!-- <dxo-export [enabled]="true" fileName="Orders"></dxo-export> -->
                            <!-- <dxo-editing [allowAdding]="true" [allowUpdating]="false" mode="popup"></dxo-editing> -->
                            <dxo-grouping [contextMenuEnabled]="true" expandMode="rowClick"></dxo-grouping>
                            <dxo-group-panel [visible]="false" emptyPanelText="Use the context menu of header columns to group data"></dxo-group-panel>
                            <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                            <dxo-filter-row [visible]="showFilterRow">
                            </dxo-filter-row>
                            <dxo-header-filter [visible]="true"></dxo-header-filter>

                            <dxo-editing mode="popup" [allowAdding]="true" [allowUpdating]="true" 
                                [form]="{items: ['EmployeeName','NetSalaryAdvance']}">

                            </dxo-editing>

                            <dxi-column dataField="EmployeeName" [allowEditing]="true" ></dxi-column>
                            <dxi-column dataField="NetSalaryAdvance" [allowEditing]="true"></dxi-column>
                            <dxi-column dataField="AdvanceDeduction"></dxi-column>
                            <dxi-column dataField="NetSalary" [allowEditing]="false"></dxi-column>

                            <!-- <dxi-column  dataType="Credit" caption="Completed" [calculateCellValue]="completedValue"></dxi-column> -->

                            <!-- <dxo-summary>
                                    <dxi-total-item
                                            column="Debit"
                                            summaryType="sum">
                                    </dxi-total-item>
                                    <dxi-total-item
                                            column="Credit"
                                            summaryType="sum">
                                    </dxi-total-item>
                                </dxo-summary> -->

                        </dx-data-grid>
                    </div>
                </div>
            </dx-data-grid>

            <!-- <div class="options">
               <div class="caption">Options</div>
               <div class="option">
                   <span>Select All Mode</span>
                   <dx-select-box
                       id="select-all-mode"
                       #selectAllMode
                       [dataSource]="['allPages', 'page']"                   
                       [disabled]="showCheckBoxesMode ? showCheckBoxesMode.value === 'none' : true"
                   ></dx-select-box>
               </div>
               <div class="option checkboxes-mode">
                   <span>Show Checkboxes Mode</span>
                   <dx-select-box
                       id="show-checkboxes-mode"
                       #showCheckBoxesMode
                       [dataSource]="['none', 'onClick', 'onLongTap', 'always']"
                       value="onClick"
                   ></dx-select-box>
               </div>
           </div> -->

        </div>
    </div>
</div>